@parma:registry=http://ci.parmalogica.ru/nexus/repository/npm-group
##registry = http://nexus.parmalogica.ru/repository/npm-public/
##sass_binary_site = http://nexus.parmalogica.ru/repository/node-sass-proxy/
