<div class="emergency-container">
  <app-main-header [title]="title"></app-main-header>
  <div class="emergency-container__body">
    <div class="emergency-container__buttons">
      <div class="emergency-container__buttons-left">
        <ui-button
          [style.height.px]="40"
          [style.width.px]="40"
          [uiTheme]="EmergencyThemes.props.whiteButtonDisabled"
        >
          <ui-icon [icon]="editIcon" ></ui-icon>
        </ui-button>
        <ui-button
          [style.height.px]="40"
          [style.width.px]="40"
          [uiTheme]="EmergencyThemes.props.whiteButtonDisabled"
        >
          <ui-icon [icon]="deleteIcon" ></ui-icon>
        </ui-button>
        <ui-button
          [style.height.px]="40"
          [style.width.px]="40"
          [uiTheme]="EmergencyThemes.props.whiteButton"
        >
          <ui-icon [icon]="exportIcon" ></ui-icon>
        </ui-button>
      </div>
      <div class="emergency-container__buttons-right">
        <ui-input-search
          [showFilterClearButton]="gpInputSearchProps.showClearButton"
          (valueChange)="gpInputSearchProps.valueChange($event)"
          [uiTheme]="EmergencyThemes.props.search">
        </ui-input-search>
        <ui-button
          text = "Фильтр"
          [style.height.px]="40"
          [style.width.px]="99"
          [uiTheme]="EmergencyThemes.props.whiteButtonBig"
        >
          <ui-icon [icon]="filterIcon" ></ui-icon>
        </ui-button>
      </div>

    </div>
    <div class="emergency-container__table">
      <gp-pagination-table
        style="height: 100%"
        [source]="source.source"
        [columns]="source.columns"
        [uiTheme]="EmergencyThemes.props.tableTheme"
      ></gp-pagination-table>
    </div>
  </div>
</div>

