.emergency-container__body {
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 100px;
  height: 1050px;
}

.emergency-container__table {
  height: 850px;
  min-width: 100%;
  margin: 0 auto;
}

.emergency-container__buttons {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 11px;
}

.emergency-container__buttons-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
}

.emergency-container__buttons-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

