#main {
  display: flex;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
.js-main-container {
height: 100%;
  width: 100%;
}

body {
  font-family: "SF UI Text", sans-serif;
}
html, body {
  height: 100%;
  overflow: hidden;
}
