.address-program-container {
  height: 100%;
}

.address-program-container__body {
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 100px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.address-program-container__table {
  height: 70%;
  width: 1300px;
  margin: 0 auto;
}

.address-program-container__buttons {
  width: 100%;
  margin-bottom: 20px;
}
.address-program-container__buttons-container {
  height: 72px;
  display: flex;
  width: 1300px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.address-program-container__buttons-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 235px;
}

.address-program-container__modal {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
}

gp-table.grid-row {
  color: red;
}
