
/** Общие стили таблицы**/
gp-table ::ng-deep .tableTheme {
  .grid-cell{
    cursor: pointer;
  }
  .grid-cell.selected > gp-table-cell {
    opacity: 0.9;
    background-color: rgba(187, 187, 187, 0.47);
  }
  ui-grid{
    width: 100%;
    background: #ff0000;
    tr {
      &:hover {
        background-color: #0053ff;
        cursor: pointer;
      }
      td{
        border-right: none!important;
        border-top: none!important;
        border-left: none!important;
        ui-grid-cell{
          width: auto!important;
          padding-left: 15px;
          gp-table-cell {
            padding-top: 15px;
            padding-left: 15px;
            background: transparent;
          }
          .table-header-cell {
            background: transparent;
            border: 0;
            .table-header-cell__title {
              display: flex;
              flex-direction: row;
              font-family: "PTSans", sans-serif;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.29;
              letter-spacing: normal;
              color: #435c78;
            }
          }
        }
      }
    }


  }
}
gp-table ::ng-deep .tableTheme {

  table{
    width: 100%;
    background: #ffffff;
    tr {
      &:hover {
        background-color: #f2f3f5;
        cursor: pointer;
      }
      td{
        border-right: none!important;
        border-top: none!important;
        border-left: none!important;
        ui-grid-cell{
          width: auto!important;
          padding-left: 15px;
          gp-table-cell {
            padding-top: 15px;
            padding-left: 15px;
            background: transparent;
          }
          .table-header-cell {
            background: transparent;
            border: 0;
            .table-header-cell__title {
              display: flex;
              flex-direction: row;
              font-family: "PTSans", sans-serif;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.29;
              letter-spacing: normal;
              color: #435c78;
            }
          }
        }
      }
    }


  }
}

/** Пагинатор**/
gp-table ::ng-deep .tableTheme {

  .paginator__counters {
    .paginator-label-content {
      .paginator-label-content__label {
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: #6f8ea1;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
      }
    }

  }
  .paginator__page-size {
    .paginator-label-content__label {
      display: flex;
      align-items: center;
      margin-right: 10px;
      color: #6f8ea1;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      font-size: 1rem;
    }
    .dropdown__name {
      min-width: 19px;
    }
  }
  .paginator__pages {
    .accent {
      background: #f0f2f5b8;
      border: 1px solid #8294aa;
      color: black
    }
  }
}

ui-paginator {
  margin-top: 140px;
}

/** Обычные кнопки таблицы **/
ui-button ::ng-deep .tableButtons {
  background: linear-gradient(109deg, #2fb5d2, #1dc6a4 100%);
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  .btn__text{
    font-weight: normal;
  }
}

ui-button ::ng-deep .tableButtons:hover:not([disabled]) {
  background: linear-gradient(109deg, #2fb5d2, #1dc6a4 100%);
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}

/** Прозрачные кнопки **/
ui-button ::ng-deep .tableButtonsTransparent {
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1dc7a5;
  border: 0;
  cursor: pointer;
  margin: auto 0 auto 8px;
  .btn__text{
    font-weight: normal;
  }
}

ui-button ::ng-deep .tableButtonsTransparent:hover:not([disabled]) {
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1dc7a5;
  border: 0;
  cursor: pointer;
  margin: auto 0 auto 8px;
}

ui-button ::ng-deep .whiteButtonDisabled {
  opacity: 0.5;
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1dc7a5;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: auto 0 auto 8px;
  .btn__text{
    font-weight: normal;
  }
}

ui-button ::ng-deep .whiteButtonDisabled:hover:not([disabled]) {
  background: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1dc7a5;
  border: 0;
  cursor: pointer;
  margin: auto 0 auto 8px;
}

ui-button ::ng-deep .whiteButton {
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1dc7a5;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: auto 0 auto 8px;
  .btn__text{
    font-weight: normal;
  }
}

ui-button ::ng-deep .whiteButton:hover:not([disabled]) {
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1dc7a5;
  border: 0;
  cursor: pointer;
  margin: auto 0 auto 8px;
}

ui-button ::ng-deep .whiteButtonBig {
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: black;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: auto 0 auto 8px;
  .btn__text{
    font-weight: normal;
  }
}

ui-button ::ng-deep .whiteButtonBig:hover:not([disabled]) {
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: black;
  border: 0;
  cursor: pointer;
  margin: auto 0 auto 8px;
}

ui-input-search ::ng-deep .search {
  .input-search-control{
    height: 47px!important;
    width: 407px!important;
    margin-top: 5px;
    padding: 10px 10px 10px 12px!important;
    border-color: transparent!important;
  }
  .input-search-icon {
    left: inherit!important;
    right: 14px;
  }

}

